<% flash.each do |message_type, message| %>
  <div class="row">
    <div class="col s12">
      <div class="card-panel <%= message_type %> lighten-4 <%= message_type %>-text text-darken-4">
        <%= message %>
      </div>
    </div>
  </div>
<% end %>
